body {
    background-color: beige;
}

h1 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: deeppink;
}

h2 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: deeppink;
}

 section {
    color: deeppink;
    font-family: 'Times New Roman', Times, serif;
}

.Your image text here  {
    height: 60vh;
}

.Your image text here  {
    height: 60vh;
}

.Your image text here {
    height: 60vh;
}